/*
		You may need this for responsive background
		section {
			background: url('bg-425.jpg');
		}

		@media only screen and (min-width:640px) {
			section {
				background: url('bg-640.jpg');
			}
		}

		@media only screen and (min-width:768px) {
			section {
				background: url('bg-768.jpg');
			}
		}

		@media only screen and (min-width:1024px) {
			section {
				background: url('bg-1024.jpg');
			}
		}

		@media only screen and (min-width:1025px) {
			section {
				background: url('bg-max.jpg');
			}
		} */

body {
	margin: 0;
}

section {
	background-position: center;
	background-size: cover;
	background-image: url("https://img.freepik.com/free-vector/clouds-with-rainfall-background-design_1017-33595.jpg?w=2000&t=st=1695308327~exp=1695308927~hmac=7d9f57366c66411a7bca194dbf92dcef189be7cd1617908aaa53710c5901672f");
}

.reset,
.submit {
	flex: 1;
}

#map {
	height: 300px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

* {
	margin: 0;
	box-sizing: border-box;
}

.data-container {
	display: flex;
	flex-direction: column;
}

canvas{
	height: 0;
}

.canvasStyle {
	width: 500px !important;
	height: 350px !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

