/*
		You may need this for responsive background
		section {
			background: url('bg-425.jpg');
		}

		@media only screen and (min-width:640px) {
			section {
				background: url('bg-640.jpg');
			}
		}

		@media only screen and (min-width:768px) {
			section {
				background: url('bg-768.jpg');
			}
		}

		@media only screen and (min-width:1024px) {
			section {
				background: url('bg-1024.jpg');
			}
		}

		@media only screen and (min-width:1025px) {
			section {
				background: url('bg-max.jpg');
			}
		} */


section {
	background: url("https://images.pexels.com/photos/531767/pexels-photo-531767.jpeg?auto=compress&cs=tinysrgb&w=1920");
}
